<div class="notification-content">
  <div class="k-d-flex k-flex-col k-flex-nowrap" kendoTypography variant="h1">
    No notifications available
  </div>
  <kendo-listview
    *ngIf="items.length > 0"
    [data]="items"
    [height]="400"
    containerClass="k-d-flex k-flex-col k-flex-nowrap"
  >
    <ng-template kendoListViewHeaderTemplate>
      <div class="header">Notifications</div>
    </ng-template>
    <ng-template
      kendoListViewItemTemplate
      let-dataItem="dataItem"
      let-isFirst="isFirst"
    >
      <app-job-item-card
        class="notification-item"
        [item]="dataItem"
        [borderTop]="!isFirst"
        (action)="onActionHandler($event)"
      >
      </app-job-item-card>
    </ng-template>

    <ng-template kendoListViewFooterTemplate>
      <div class="footer" *ngIf="getFailedJobCount() > 0">
        {{ getFailedJobCount() }} of {{ items.length }} jobs failed
      </div>
    </ng-template>
  </kendo-listview>
</div>
