<div style="width: 400px">
  <form class="k-form k-form-md" [formGroup]="editForm">
    <fieldset class="k-form-fieldset">
      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="name"
          text="Name"
        ></kendo-label>
        <kendo-textbox formControlName="name" #name required></kendo-textbox>
  
        <kendo-formerror *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched">
          Name is required.
        </kendo-formerror>
      </kendo-formfield>
  
      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="email"
          text="Email"
        ></kendo-label>
        <kendo-textbox formControlName="email" #email required></kendo-textbox>
  
        <kendo-formerror *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched">
          Valid email is required.
        </kendo-formerror>
      </kendo-formfield>
  
      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="dateOfBirth"
          text="Date of Birth"
        ></kendo-label>
        <kendo-datepicker
          #dateOfBirth
          formControlName="dateOfBirth"
          [min]="dobMin"
          [max]="dobMax"
          required
          format="yyyy-MM-dd"
        >
        </kendo-datepicker>
        <kendo-formerror *ngIf="editForm.get('dateOfBirth')?.invalid && editForm.get('dateOfBirth')?.touched">
          Date of Birth is required.
        </kendo-formerror>
      </kendo-formfield>
    </fieldset>
    <div class="k-form-buttons pull-right">
      <button type="button" kendoButton class="k-button close-button" (click)="onCancel()">Cancel</button>
      <button type="button" kendoButton class="k-button submit-button" (click)="onUpdate()" [disabled]="editForm.invalid">Update</button>
    </div>
  </form>
</div>