<kendo-appbar position="top" themeColor="dark" class="header">
  <kendo-appbar-section>
    <div class="title">Student Management</div>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="actions">
    <kendo-badge-container>
      <button
        kendoButton
        fillMode="flat"
        #notificationAnchor
        (click)="showNotificationPopup = !showNotificationPopup"
      >
        <kendo-svgicon [icon]="bellIcon"></kendo-svgicon>
      </button>
      <kendo-badge
        *ngIf="getFailedJobCount() > 0"
        shape="dot"
        themeColor="error"
        size="small"
        position="inside"
      ></kendo-badge>
    </kendo-badge-container>
  </kendo-appbar-section>
</kendo-appbar>

<!-- Notifications Popup -->
<kendo-popup
  [anchor]="notificationAnchor.element"
  (anchorViewportLeave)="showNotificationPopup = false"
  [popupAlign]="{ horizontal: 'right', vertical: 'top' }"
  [anchorAlign]="{ horizontal: 'right', vertical: 'bottom' }"
  [margin]="{ horizontal: 10, vertical: 10 }"
  *ngIf="showNotificationPopup"
>
  <app-notifications [items]="jobQueue"></app-notifications>
</kendo-popup>
