.export-popup {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.export-options {
  margin-bottom: 20px;
}

.age-range-label {
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: center;
}